.container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  opacity: 0.6;
}

.logo {
  height: 30px;
  filter: grayscale(100%) brightness(200%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  filter: grayscale(0%) brightness(100%);
  opacity: 1;
  transform: translateY(-2px);
}